{{define "Head"}}<title>About - GoDoc</title>{{end}}

{{define "Body"}}
<h1>About</h1>

<p>
This is a fork of gddo, the software which previously powered the now-defunct
godoc.org, operated by Drew DeVault. The source code is available on <a
  href="https://git.sr.ht/~sircmpwn/gddo">git.sr.ht</a>.

<p>godocs.io displays documentation for GOOS=linux unless otherwise noted at the
bottom of the documentation page.

<h4 id="howto">Add a package to godocs.io</h4>

<p>godocs.io generates documentation from Go source code. The <a
  href="https://blog.golang.org/godoc-documenting-go-code">guidelines</a>
for writing documentation for the <a
  href="https://golang.org/cmd/godoc/">godoc</a> tool apply to godocs.io.

<p>It's important to write a good summary of the package in the first sentence
of the package comment. godocs.io indexes the first sentence and displays the
first sentence in package lists.

<p>To add a package to godocs.io, <a href="/">search</a> for the package by import
path. If godocs.io does not already have the documentation for the package, then
godocs.io will fetch the source from the version control system on the fly and
add the documentation.

<p>godocs.io checks for package updates once per day. You can force godocs.io to
update the documentation immediately by clicking the refresh link at the bottom
of the package documentation page.

<p>godocs.io crawls package imports and child directories to find new packages.

<h4 id="remove">Remove a package from godocs.io</h4>

godocs.io automatically removes packages deleted from the version control system
when godocs.io checks for updates to the package. You can force godocs.io to
remove a deleted package immediately by clicking the refresh link at the bottom
of the package documentation page.

If you do not want godocs.io to display documentation for your package, send
mail to sir@cmpwn.com with the import path of the path of the package that you
want to remove.

<h4 id="shortcuts">Keyboard Shortcuts</h4>

<p>godocs.io has keyboard shortcuts for navigating package documentation
pages. Type '?' on a package page for help.

{{end}}
