{{define "SearchBox"}}
  <form>
    <div class="input-group">
      <input class="form-control" name="q" autofocus="autofocus" value="{{.}}" placeholder="Search for package by import path or keyword." type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </form>
{{end}}

{{define "ProjectNav"}}{{template "FlashMessages" .Messages}}<div class="clearfix" id="x-projnav">
  {{if eq .ModulePath "std"}}<a href="/-/go">Go:</a>{{else if .Meta}}<a rel="noopener nofollow" href="{{.Meta.ProjectURL}}"><strong>{{.Meta.ProjectName}}:</strong></a>{{end}}
  {{.Breadcrumbs templateName}}
  {{if and .Name (or templateName "pkg.html" templateName "cmd.html")}}
  <span class="pull-right">
    {{if not .IsCommand}}
      <a href="#pkg-index">Index</a>
      {{if .AllExamples}}<span class="text-muted">|</span> <a href="#pkg-examples">Examples</a>{{end}}
      <span class="text-muted">|</span>
    {{end}}
    <a href="#pkg-files">Files</a>
    {{if .SubPackages}}<span class="text-muted">|</span> <a href="#pkg-subdirectories">Directories</a>{{end}}
  </span>
  {{end}}
</div>{{end}}

{{define "Pkgs"}}
  <table class="table table-condensed">
  <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
  <tbody>{{range .}}<tr><td><a rel="noopener nofollow" href="/{{.ImportPath}}">{{.ImportPath}}</a></td><td>{{.Synopsis}}</td></tr>
  {{end}}</tbody>
  </table>
{{end}}

{{define "SearchPkgs"}}
  <table class="table table-condensed">
    <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
    <tbody>{{range .}}
      <tr><td>
        <a href="/{{.ImportPath}}">{{.ImportPath|importPath}}</a>
          <ul class="list-inline">
            <li class="additional-info">{{.ImportCount}} imports</li>
          </ul>
      <td class="synopsis">{{.Synopsis|importPath}}</td></tr>
    {{end}}</tbody>
  </table>
{{end}}

{{define "PkgCmdHeader"}}
  <title>{{.PageName}} - godocs.io</title>
  {{if .Synopsis}}
    <meta property="og:title" content="{{if .IsCommand}}Command{{else}}Package{{end}} {{.PageName}}">
    <meta name="description" content="{{.Synopsis}}">
    <meta property="og:description" content="{{.Synopsis}}">
  {{end}}
{{end}}

{{define "PkgFiles"}}
<h4 id="pkg-files">
  {{with $.Meta}}<a rel="noopener nofollow" href="{{.Dir ""}}">Package Files</a>{{else}}Package Files{{end}}
  <a class="permalink" href="#pkg-files">&para;</a>
</h4>

<p>{{range .Filenames}}{{if $.Meta}}<a rel="noopener nofollow" href="{{$.Meta.File "" .}}">{{.}}</a>{{else}}{{.}}{{end}} {{end}}</p>
{{end}}

{{define "PkgCmdFooter"}}
<!-- Bugs -->
{{with .Notes}}{{with .BUG}}
  <h3 id="pkg-note-bug">Bugs <a class="permalink" href="#pkg-note-bug">&para;</a></h3>{{range .}}<p>{{.SourceLink .Pos "☞" true}} {{.Body}}{{end}}
{{end}}{{end}}

{{if $.SubPackages}}<h3 id="pkg-subdirectories">Directories <a class="permalink" href="#pkg-subdirectories">&para;</a></h3>
    <table class="table table-condensed">
    <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
    <tbody>{{range $.SubPackages}}<tr><td><a href="/{{.ImportPath}}">{{relativePath .ImportPath .ModulePath}}</a><td>{{.Synopsis}}</td></tr>{{end}}</tbody>
    </table>
{{end}}
<div id="x-pkginfo">
  <p>{{if or .Imports $.ImportCount}}Package {{.Name}} {{if .Imports}}imports <a href="?imports">{{.Imports|len}} packages</a> (<a href="?import-graph">graph</a>){{end}}{{if and .Imports $.ImportCount}} and {{end}}{{if $.ImportCount}}is imported by <a href="?importers">{{$.ImportCount}} packages</a>{{end}}.{{end}}</p>
  <p>Version {{.Version}}
  <span class="text-muted">|</span>
  Published <span title="{{.CommitTime.Format "2006-01-02T15:04:05Z"}}">{{.CommitTime.Format "Jan 2, 2006"}}</span>
  {{if ne .GOOS "linux"}}<span class="text-muted">|</span> GOOS={{.GOOS}}{{end}}
  <span class="text-muted">|</span>
  Updated <span title="{{.Updated.Format "2006-01-02T15:04:05Z"}}">{{humanize .Updated}}</span>
  </p>
  <form class="inline-form" method="POST" action="/-/refresh">
    <input type="hidden" name="path" value="{{.ImportPath}}">
    <button type="submit" class="link" title="Refresh this page from the source.">Refresh now</button>.
  </form>
  <a href="?tools">Tools</a> for package owners.
</div>
{{end}}


{{define "FlashMessages"}}{{range .}}
  {{if eq .ID "refresh"}}{{if eq (len .Args) 1}}<div class="alert alert-danger">Error refreshing package: {{index .Args 0}}</div>{{end}}
  {{else if eq .ID "timeout"}}<div class="alert alert-info">This package is being fetched in the background. Feel free to refresh while we're working on it.</div>
  {{end}}
{{end}}{{end}}

