{{define "Head"}}<title>{{.PageName}} importers - godocs.io</title><meta name="robots" content="NOINDEX, NOFOLLOW">{{end}}

{{define "Body"}}
  {{template "ProjectNav" $}}
  <h3>Packages that import {{$.Name}}</h3>
  <table class="table table-condensed">
  <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
  <tbody>{{range $.Importers}}<tr><td><a rel="noopener nofollow" href="/{{.ImportPath}}@{{.Version}}">{{.ImportPath}} <span class="text-muted">({{.Version}})</span></a></td><td>{{.Synopsis}}</td></tr>
  {{end}}</tbody>
  </table>
{{end}}
