{{define "Head"}}<title>{{.Query}} - godocs.io</title><meta name="robots" content="NOINDEX">{{end}}

{{define "Body"}}
  {{template "FlashMessages" .Messages}}
  <div class="well">
    {{template "SearchBox" .Query}}
  </div>
  {{if .Results}}
    <table class="table table-condensed">
      <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
      <tbody>{{range .Results}}
        <tr>
          <td>
            <a href="/{{.ImportPath}}">{{.ImportPath}}</a>
            {{if .ImportCount}}<span class="additional-info">{{.ImportCount}} import{{if ne .ImportCount 1}}s{{end}}</span>{{end}}
          </td>
          <td class="synopsis">{{.Synopsis}}</td>
        </tr>
      {{end}}</tbody>
    </table>
  {{else}}
    <p>No packages found.
  {{end}}
{{end}}
