{{define "Head"}}<title>{{.pdoc.PageName}} tools - godocs.io</title><meta name="robots" content="NOINDEX, NOFOLLOW">{{end}}

{{define "Body"}}
  {{template "ProjectNav" $}}
  <h2>Tools for {{$.pdoc.PageName}}</h2>

  <h3>Badge</h3>

  <p><a href="{{.uri}}"><img src="{{.uri}}?status.svg" alt="godocs.io"></a>

  <p>Use one of the snippets below to add a link to godocs.io from your project
  website or README file:</a>

  <h5>HTML</h5>
  <pre class="click-select">&lt;a href="{{.uri}}"&gt;&lt;img src="{{.uri}}?status.svg" alt="godocs.io"&gt;&lt;/a&gt;</pre>

  <h5>Markdown</h5>
  <pre class="click-select">[![godocs.io]({{.uri}}?status.svg)]({{.uri}})</pre>

  {{if .pdoc.Name}}
    {{if and (not .pdoc.IsCommand) (not .pdoc.Doc)}}
      <p>The {{.pdoc.Name}} package does not have a package declaration
      comment.  See the <a
        href="https://blog.golang.org/godoc-documenting-go-code">Go
        documentation guidelines</a> for information on how to write a package
      comment. It's important to write a good summary of the package in the
      first sentence of the package comment. godocs.io indexes the first sentence
      and displays the first sentence in package lists.
    {{end}}
  {{end}}
  <p>&nbsp;
{{end}}
