:root {
    --body-background: white;
    --body-color: #212529;
    --navbar-background: hsl(209, 51%, 95%);
    --navbar-border: hsl(209, 51%, 85%);
    --panel-background: hsl(209, 16%, 95%);
    --panel-border: hsl(209, 16%, 85%);
    --card-border: hsl(209, 16%, 85%);
    --link-color: hsl(220, 51%, 44%);
    --link-hover: hsl(208, 56%, 31%);
    --comment-color: #006600;
}

:target {
    background-color: #fdff9e !important;
    color: #212529 !important;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-background);
    color: var(--body-color);
    font-family: Helvetica, Arial, sans-serif;
}

#pkg-overview {
    font-size: 24px;
}

h3, h4 {
    margin-top: 1.25rem;
}

h4 {
    font-size: 18px;
}

main {
    flex: 1;
}

.navbar-light {
    background-color: var(--navbar-background);
    border-bottom: 1px solid var(--navbar-border);
    margin-bottom: 1.25rem;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color: var(--link-color);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: var(--link-hover);
}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
    opacity: 0.75;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: inherit;
    opacity: 1;
}

footer {
    background-color: var(--navbar-background);
    border-top: 1px solid var(--navbar-border);
    padding: 1rem 0;
    margin-top: 0.25rem;
}

.jumbotron {
    background-color: var(--panel-background);
    border: 1px solid var(--panel-border);
    border-radius: 4px;
}

.searchbox {
    margin-bottom: 1.25rem;
}

#x-projnav {
    background-color: var(--panel-background);
    border: 1px solid var(--panel-border);
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
}

.pkginfo {
    border-top: 1px solid #ccc;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}

code {
    background-color: inherit;
    border: none;
    color: inherit;
    padding: 0;
}

pre {
    background-color: var(--panel-background);
    border: 1px solid var(--panel-border);
    border-radius: 4px;
    color: inherit;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 13px;
}

.funcdecl > pre {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre .com {
    color: var(--comment-color);
}

.table {
    color: inherit;
}

.table th {
    border-top: none;
}

a {
    color: var(--link-color);
}

a:hover, a:focus {
    color: var(--link-hover);
}

.btn-link {
    color: var(--link-color);
    padding: 0;
}

.btn-link:hover, .btn-link:focus {
    color: var(--link-hover);
}

.card {
    margin-bottom: 1.25rem;
}

.card, .card-header {
    background-color: transparent;
    border-color: var(--panel-border);
}

.card:not([open]) .card-header {
    border-bottom: none;
}

.permalink {
    display: none;
}

summary .permalink {
    float: right;
    font-size: 1.3em;
    line-height: 1.3em;
}

h1:hover .permalink,
h2:hover .permalink,
h3:hover .permalink,
h4:hover .permalink,
h5:hover .permalink,
h6:hover .permalink {
    display: inline;
}

summary:hover .permalink {
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.modal.show {
    display: block;
    opacity: 1;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .2rem 1rem;
}

dd {
    margin-bottom: 0;
}

.refresh-form {
    display: inline-block;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: hsl(209, 30%, 10%);
        --body-color: white;
        --panel-background: hsl(209, 16%, 15%);
        --panel-border: hsl(209, 16%, 25%);
        --navbar-background: hsl(209, 30%, 15%);
        --navbar-border: hsl(209, 30%, 25%);
        --link-color: hsl(220, 51%, 67%);
        --link-hover: hsl(208, 56%, 75%);
        --comment-color: #3caa3c;
    }
}
