:root {
    --body-background: white;
    --body-color: #333;
    --navbar-background: hsl(209, 51%, 92%);
    --navbar-border: hsl(209, 51%, 88%);
    --link-color: #375eab;
    --pre-background: #f5f5f5;
    --pre-border: #ccc;
    --comment-color: #006600;
    --gray: #eee;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--body-background);
    color: var(--body-color);
}

h3, h4 {
    margin-top: 1.25rem;
}

main {
    flex: 1;
}

.navbar-light {
    background-color: var(--navbar-background);
    border-bottom: 1px solid var(--navbar-border);
    margin-bottom: 1.25rem;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color: var(--link-color);
}

#x-projnav {
    background-color: var(--gray);
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
}

footer {
    background-color: var(--navbar-background);
    border-top: 1px solid var(--navbar-border);
    padding: 1rem 0;
    margin-top: 0.25rem;
}

:target {
    background-color: #FDFF9E !important;
}

.pkginfo {
    border-top: 1px solid #ccc;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.searchbox {
    margin-bottom: 1.25rem;
}

code {
    background-color: inherit;
    border: none;
    color: inherit;
    padding: 0;
}

pre {
    background-color: var(--pre-background);
    border: 1px solid var(--pre-border);
    border-radius: 4px;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

.funcdecl > pre {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre .com {
    color: var(--comment-color);
}

a {
    color: var(--link-color);
}

.btn-link {
    color: var(--link-color);
    padding: 0;
}

.card, .card-header {
    background-color: transparent;
}

.permalink {
    display: none;
}

summary .permalink {
    float: right;
    font-size: 1.3em;
    line-height: 1.3em;
}

h1:hover .permalink,
h2:hover .permalink,
h3:hover .permalink,
h4:hover .permalink,
h5:hover .permalink,
h6:hover .permalink {
    display: inline;
}

summary:hover .permalink {
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.modal.show {
    display: block;
    opacity: 1;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .2rem 1rem;
}

dd {
    margin-bottom: 0;
}

.refresh-form {
    display: inline-block;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: hsl(209, 30%, 10%);
        --body-color: white;
        --link-color: #4e7bd4;
        --pre-background: #262626;
        --pre-border: white;
        --comment-color: #2d802d;
        --navbar-background: hsl(209, 30%, 24%);
        --navbar-border: hsl(209, 30%, 20%);
    }
    pre, .table {
        color: inherit;
    }
    .card {
        border-color: white;
    }
    .jumbotron {
        background-color: #888;
        border-color: #777;
    }
    :target {
        color: #333 !important;
    }
}
