{{define "Head"}}
  <title>{{.PageName}} - godocs.io</title>
  {{if .Synopsis}}
    <meta property="og:title" content="{{if .IsCommand}}Command {{else if .Name}}Package {{end}}{{.PageName}}">
    <meta name="description" content="{{.Synopsis}}">
    <meta property="og:description" content="{{.Synopsis}}">
  {{end}}
{{end}}

{{define "Body"}}
  {{template "ProjectNav" $}}

  {{if .Deprecated}}
    <div class="alert alert-warning"><strong>Deprecated:</strong> {{.Deprecated}}</div>
  {{end}}

  {{if .Name}}
    <h2 id="pkg-overview">{{if .IsCommand}}Command{{else}}package{{end}} {{.PageName}}</h2>
    {{if not .IsCommand}}<p><code>import "{{.ImportPath}}"</code>{{end}}
    {{.Doc|comment}}
  {{end}}

  {{template "Examples" .PackageExamples}}

  {{if not .IsCommand}}
    {{if .Name}}
      <h3 id="pkg-index" class="section-header">Index <a class="permalink" href="#pkg-index">&para;</a></h3>
    {{end}}

    {{if .Truncated}}
      <div class="alert alert-warning">The documentation displayed here is incomplete. Use the godoc command to read the complete documentation.</div>
    {{end}}

    <ul class="list-unstyled">
      {{if .Consts}}<li><a href="#pkg-constants">Constants</a></li>{{end}}
      {{if .Vars}}<li><a href="#pkg-variables">Variables</a></li>{{end}}
      {{range .Funcs}}<li><a href="#{{.Name}}">{{.Decl.Text}}</a></li>{{end}}
      {{range $t := .Types}}
        <li><a href="#{{.Name}}">type {{.Name}}</a></li>
        {{if or .Funcs .Methods}}<ul>{{end}}
        {{range .Funcs}}<li><a href="#{{.Name}}">{{.Decl.Text}}</a></li>{{end}}
        {{range .Methods}}<li><a href="#{{$t.Name}}.{{.Name}}">{{.Decl.Text}}</a></li>{{end}}
        {{if or .Funcs .Methods}}</ul>{{end}}
      {{end}}
      {{if .Notes.BUG}}<li><a href="#pkg-note-bug">Bugs</a></li>{{end}}
    </ul>

    {{with .AllExamples}}
      <h4 id="pkg-examples">Examples <a class="permalink" href="#pkg-examples">&para;</a></h4>
      <ul class="list-unstyled">
        {{range .}}<li><a href="#example-{{.ID}}">{{.Label}}</a></li>{{end}}
      </ul>
    {{end}}

    {{if .Filenames}}
      <h4 id="pkg-files">
        {{with $.Project}}<a rel="noopener nofollow" href="{{.Dir $.Reference $.Dir}}">Package Files</a>{{else}}Package Files{{end}}
        <a class="permalink" href="#pkg-files">&para;</a>
      </h4>

      <p>{{range .Filenames}}{{if $.Project}}<a rel="noopener nofollow" href="{{$.Project.File $.Reference $.Dir .}}">{{.}}</a>{{else}}{{.}}{{end}} {{end}}</p>
    {{end}}

    {{if .Consts}}
      <h3 id="pkg-constants">Constants <a class="permalink" href="#pkg-constants">&para;</a></h3>
      {{range .Consts}}<div class="decl" data-kind="constant">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}{{end}}
    {{end}}

    {{if .Vars}}
      <h3 id="pkg-variables">Variables <a class="permalink" href="#pkg-variables">&para;</a></h3>
      {{range .Vars}}<div class="decl" data-kind="variable">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}{{end}}
    {{end}}

    {{range .Funcs}}
      <h3 id="{{.Name}}" data-kind="function">func {{$.SourceLink .Pos .Name true}} <a class="permalink" href="#{{.Name}}">&para;</a></h3>
      <div class="funcdecl decl">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}
      {{template "Examples" .|$.ObjExamples}}
    {{end}}

    {{range $t := .Types}}
      <h3 id="{{.Name}}" data-kind="type">type {{$.SourceLink .Pos .Name true}} <a class="permalink" href="#{{.Name}}">&para;</a></h3>
      <div class="decl" data-kind="{{if isInterface $t}}method{{else}}field{{end}}">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl $t}}</div>{{.Doc|comment}}
      {{range .Consts}}<div class="decl" data-kind="constant">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}{{end}}
      {{range .Vars}}<div class="decl" data-kind="variable">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}{{end}}
      {{template "Examples" .|$.ObjExamples}}

      {{range .Funcs}}
        <h4 id="{{.Name}}" data-kind="function">func {{$.SourceLink .Pos .Name true}} <a class="permalink" href="#{{.Name}}">&para;</a></h4>
        <div class="funcdecl decl">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}
        {{template "Examples" .|$.ObjExamples}}
      {{end}}

      {{range .Methods}}
        <h4 id="{{$t.Name}}.{{.Name}}" data-kind="method">func ({{.Recv}}) {{$.SourceLink .Pos .Name true}} <a class="permalink" href="#{{$t.Name}}.{{.Name}}">&para;</a></h4>
        <div class="funcdecl decl">{{$.SourceLink .Pos "\u2756" false}}{{code .Decl nil}}</div>{{.Doc|comment}}
        {{template "Examples" .|$.ObjExamples}}
      {{end}}
    {{end}}

    {{with .Notes}}{{with .BUG}}
      <h3 id="pkg-note-bug">Bugs <a class="permalink" href="#pkg-note-bug">&para;</a></h3>{{range .}}<p>{{$.SourceLink .Pos "☞" true}} {{.Body}}{{end}}
    {{end}}{{end}}
  {{end}}

  {{if $.SubPackages}}<h3 id="pkg-subdirectories">Directories <a class="permalink" href="#pkg-subdirectories">&para;</a></h3>
    <table class="table table-condensed">
      <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
      <tbody>{{range $.SubPackages}}<tr><td><a href="/{{.ImportPath}}{{$.VersionParam}}{{$.PlatformParam}}">{{relativePath .ImportPath .ModulePath}}</a></td><td>{{.Synopsis}}</td></tr>{{end}}</tbody>
    </table>
  {{end}}

  <div id="x-pkginfo">
    {{if .Imports}}<p>{{if .IsCommand}}Command{{else}}Package{{end}} {{.PageName}} imports <a href="{{.View "imports"}}">{{.Imports|len}} packages</a> (<a href="{{.View "import-graph"}}">graph</a>).</p>{{end}}
    <p>Version <a href="{{.View "versions"}}">{{.Version}}{{if eq .Version .LatestVersion}} (latest){{end}}</a>
    <span class="text-muted">|</span>
    Published <span title="{{.CommitTime.Format "2006-01-02T15:04:05Z"}}">{{.CommitTime.Format "Jan 2, 2006"}}</span>
    <span class="text-muted">|</span>
    Platform: {{.Platform}}
    {{if not .Updated.IsZero}}<span class="text-muted">|</span>
    Updated <span title="{{.Updated.Format "2006-01-02T15:04:05Z"}}">{{humanize .Updated}}</span>{{end}}
    </p>
    <form class="inline-form" method="POST" action="/-/refresh">
      <input type="hidden" name="import_path" value="{{.ImportPath}}">
      <input type="hidden" name="platform" value="{{.Platform}}">
      <button type="submit" class="link" title="Refresh this page from the source.">Refresh now</button>.
    </form>
    <a href="{{.View "tools"}}">Tools</a> for package owners.
  </div>

{{if and .Name (not .IsCommand)}}
  <div id="x-jump" tabindex="-1" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Jump to identifier</h4>
          <br class="clearfix">
          <input id="x-jump-filter" class="form-control" autocomplete="off" type="text">
        </div>
        <div id="x-jump-body" class="modal-body" style="height: 260px; overflow: auto;">
          <div id="x-jump-list" class="list-group" style="margin-bottom: 0;"></div>
        </div>
      </div>
    </div>
  </div>
{{end}}
{{end}}

{{define "Examples"}}
{{if .}}
  <div class="panel-group">
  {{range .}}
    <details class="panel panel-default">
      <summary id="example-{{.ID}}" class="panel-heading">Example{{with .Example.Name}} ({{.}}){{end}}<a class="permalink" href="#example-{{.ID}}">¶</a></summary>
      <div class="panel-collapse"><div class="panel-body">
        {{with .Example.Doc}}<p>{{.|comment}}{{end}}
        <p>Code:{{if .Play}}<span class="pull-right"><a href="?play={{.ID}}">play</a>&nbsp;</span>{{end}}
        {{code .Example.Code nil}}
        {{with .Example.Output}}<p>Output:<pre>{{.}}</pre>{{end}}
      </div></div>
    </details>
  {{end}}
  </div>
{{end}}
{{end}}
