{{define "Head"}}<title>{{if eq .Status 404}}Not Found{{else}}Internal server error{{end}} - {{config.BrandName}}</title>{{end}}

{{define "Body"}}
  {{if eq .Status 404}}
  {{template "FlashMessage" .Message}}
  <h1>Not Found</h1>
  <p>Oh snap! Our team of gophers could not find the web page you are looking for. Try one of these pages:
  <ul>
    <li><a href="/">Home</a>
  </ul>
  {{else}}
  <h1>Internal server error</h1>
  <p>Oh snap! Something went wrong.
  <ul>
    <li><a href="/">Home</a>
  </ul>
  {{end}}
{{end}}
