{{define "Head"}}<title>{{.PageName}} tools - godocs.io</title><meta name="robots" content="NOINDEX, NOFOLLOW">{{end}}

{{define "Body"}}
  {{template "ProjectNav" $}}
  <h2>Tools for {{$.PageName}}</h2>

  <h3>Badge</h3>

  <p><a href="{{.URI}}"><img src="{{.URI}}?status.svg" alt="godocs.io"></a>

  <p>Use one of the snippets below to add a link to godocs.io from your project
  website or README file:</a>

  <h5>HTML</h5>
  <pre>&lt;a href="{{.URI}}"&gt;&lt;img src="{{.URI}}?status.svg" alt="godocs.io"&gt;&lt;/a&gt;</pre>

  <h5>Markdown</h5>
  <pre>[![godocs.io]({{.URI}}?status.svg)]({{.URI}})</pre>

  {{if .Name}}
    {{if and (not .IsCommand) (not .Synopsis)}}
      <p>The {{.Name}} package does not have a package declaration
      comment.  See the <a
        href="https://go.dev/blog/godoc">Go documentation guidelines</a>
      for information on how to write a package comment.
      It's important to write a good summary of the package in the
      first sentence of the package comment. godocs.io indexes the first sentence
      and displays the first sentence in package lists.
    {{end}}
  {{end}}
  <p>&nbsp;
{{end}}
