{{define "ProjectNav"}}{{template "FlashMessage" .Message}}<div class="clearfix" id="x-projnav">
  {{with .SummaryURL}}<a rel="noopener nofollow" href="{{.}}"><strong>{{$.ModuleTitle}}</strong></a>
  {{else}}<strong class="text-muted">{{.ModuleTitle}}</strong>{{end}}
  {{with breadcrumbs .}}<span class="text-muted">&ndash;</span> {{template "breadcrumbs" .}}{{end}}
  {{if eq templateName "doc.html"}}
  <span class="pull-right">
    {{if .IsPackage}}
      <a href="#pkg-index">Index</a>
      {{if .AllExamples}}<span class="text-muted">|</span> <a href="#pkg-examples">Examples</a>{{end}}
      <span class="text-muted">|</span> <a href="#pkg-files">Files</a>
    {{end}}
    {{if .SubPackages}}
      {{if .IsPackage}}<span class="text-muted">|</span>{{end}}
      <a href="#pkg-subdirectories">Directories</a>
    {{end}}
  </span>
  {{end}}
</div>{{end}}

{{define "breadcrumbs"}}
{{- range $i, $crumb := . -}}
  {{- if ne $i 0 -}}
    <span class="text-muted">/</span>
  {{- end -}}
  {{- if .Current -}}
    <span class="text-muted">{{.Text}}</span>
  {{- else -}}
    <a href="/{{.ImportPath}}">{{.Text}}</a>
  {{- end -}}
{{- end -}}
{{end}}

{{define "FlashMessage"}}{{if .}}<div class="alert alert-warning">{{.}}</div>{{end}}{{end}}

{{define "SearchBox"}}
  <form>
    <div class="input-group">
      <input class="form-control" name="q" autofocus="autofocus" value="{{.}}" placeholder="Search for package by import path or keyword." type="text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
  </form>
{{end}}

{{define "Pkgs"}}
  <table class="table table-condensed">
  <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
  <tbody>{{range .}}<tr><td><a rel="noopener nofollow" href="/{{.ImportPath}}">{{.ImportPath}}</a></td><td>{{.Synopsis}}</td></tr>
  {{end}}</tbody>
  </table>
{{end}}
