{{define "head"}}
  <title>{{config.BrandName}}</title>
  <link rel="search" type="application/opensearchdescription+xml" title="{{config.BrandName}}" href="/-/opensearch.xml"/>
{{- end}}

{{define "body"}}
<div class="jumbotron">
  <h2>Search for Go Packages</h2>
  {{template "SearchBox" .}}
</div>

<p>
{{config.BrandName}} serves documentation for <a href="https://go.dev">Go</a> packages.
Read the <a href="/-/about">About Page</a> for information about adding packages
to {{config.BrandName}} and more.
</p>
{{end}}
