<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{static_path "bootstrap.min.css"}}" rel="stylesheet">
  <link href="{{static_path "site.css"}}" rel="stylesheet">
  {{block "head" .}}{{end}}
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">{{config.BrandName}}</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/-/about">About</a>
          </li>
        </ul>
        {{- if ne templateName "index.html" }}
        <form class="form-inline" id="x-search" action="/">
          <input class="form-control" type="search" id="x-search-query" name="q" placeholder="Search">
        </form>
        {{- end }}
      </div>
    </div>
  </nav>

  <main role="main">
    <div class="container">
      {{block "body" .}}{{end}}
    </div>
  </main>

  <footer id="x-footer" class="footer">
    <div class="container">
      {{with config.WebsiteIssues}}<a href="{{.}}">Website Issues</a> <span class="text-muted">|</span>{{end}}
      <a href="https://go.dev">Go Language</a>
      <span class="float-right"><a href="#">Back to top</a></span>
    </div>
  </div>

  <div id="x-shortcuts" tabindex="-1" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Keyboard shortcuts</h5>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            {{- $mutePkg := false}}
            {{- if ne templateName "doc.html"}}{{$mutePkg = true}}
            {{- else if not .IsPackage}}{{$mutePkg = true}}{{end}}
            <tr><td align="right"><b>?</b></td><td> : This menu</td></tr>
            <tr><td align="right"><b>/</b></td><td> : Search site</td></tr>
            <tr{{if $mutePkg}} class="text-muted"{{end}}><td align="right"><b>f</b></td><td> : Jump to identifier</td></tr>
            <tr><td align="right"><b>g</b> then <b>g</b></td><td> : Go to top of page</td></tr>
            <tr><td align="right"><b>g</b> then <b>b</b></td><td> : Go to end of page</td></tr>
            <tr><td align="right"><b>G</b></td><td> : Go to end of page</td></tr>
            <tr{{if $mutePkg}} class="text-muted"{{end}}><td align="right"><b>g</b> then <b>i</b></td><td> : Go to index</td></tr>
            <tr{{if $mutePkg}} class="text-muted"{{end}}><td align="right"><b>g</b> then <b>e</b></td><td> : Go to examples</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="{{static_path "site.js"}}"></script>
</body>
</html>

{{define "FlashMessage"}}{{if .}}<div class="alert alert-warning">{{.}}</div>{{end}}{{end}}

{{define "ProjectNav"}}
  {{with .Message}}<div class="alert alert-warning">{{.}}</div>{{end}}
  <div class="clearfix" id="x-projnav">
    {{with .SummaryURL}}
      <a rel="noopener nofollow" href="{{.}}"><strong>{{$.ModuleTitle}}</strong></a>
    {{else}}
      <strong class="text-muted">{{.ModuleTitle}}</strong>
    {{end}}
    {{with breadcrumbs .}}&ndash; {{template "breadcrumbs" .}}
    {{end}}
    {{if eq templateName "doc.html"}}
      <span class="float-right">
        {{if .IsPackage}}
          <a href="#pkg-index">Index</a>
          {{if .AllExamples}}<span class="text-muted">|</span> <a href="#pkg-examples">Examples</a>{{end}}
          <span class="text-muted">|</span> <a href="#pkg-files">Files</a>
        {{end}}
        {{if .Directories}}
          {{if .IsPackage}}<span class="text-muted">|</span>{{end}}
          <a href="#pkg-directories">Directories</a>
        {{end}}
      </span>
    {{end}}
  </div>
{{end}}

{{define "breadcrumbs"}}
{{- range $i, $crumb := . -}}
  {{- if ne $i 0 -}}
    /
  {{- end -}}
  {{- if and .Current (eq templateName "doc.html") -}}
    {{.Text}}
  {{- else -}}
    <a href="/{{.ImportPath}}">{{.Text}}</a>
  {{- end -}}
{{- end -}}
{{end}}

{{define "SearchBox"}}
  <form>
    <div class="input-group">
      <input type="text" class="form-control" name="q" autofocus="autofocus" value="{{.}}" placeholder="Search for package by import path or keyword.">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Go!</button>
      </div>
    </div>
  </form>
{{end}}
