{{define "head"}}
  <title>{{.Query}} - {{config.BrandName}}</title>
  <meta name="robots" content="NOINDEX">
{{- end}}

{{define "body"}}
  {{- template "FlashMessage" .Message}}
  <div class="searchbox">
    {{- template "SearchBox" .Query}}
  </div>
  {{- if .Results}}
  <table class="table table-sm">
    <thead><tr><th>Path</th><th>Synopsis</th></tr></thead>
    <tbody>
      {{- range .Results}}
      <tr>
        <td><a href="/{{.ImportPath}}">{{.ImportPath}}</a></td>
        <td>{{.Synopsis}}</td>
      </tr>
      {{- end}}
    </tbody>
  </table>
  {{- else}}
  <p>No packages found.
  {{- end}}
{{- end}}
