{{define "Head"}}<title>{{.Title}} tools - {{config.BrandName}}</title>
<meta name="robots" content="NOINDEX, NOFOLLOW">{{end}}

{{define "Body"}}
  {{template "ProjectNav" $.Package}}
  <h2>Tools for {{$.Title}}</h2>

  <h3>Badge</h3>

  <p><a href="{{.URI}}"><img src="{{.URI}}?status.svg" alt="Go Documentation"></a>

  <p>Use one of the snippets below to add a link to {{config.BrandName}} from your
  project website or README file:</p>

  <h5>HTML</h5>
  <pre>&lt;a href="{{.URI}}"&gt;&lt;img src="{{.URI}}?status.svg" alt="Go Documentation"&gt;&lt;/a&gt;</pre>

  <h5>Markdown</h5>
  <pre>[![Go Documentation]({{.URI}}?status.svg)]({{.URI}})</pre>

{{if and .Name (not .IsCommand) (not .Synopsis)}}
  <p>The {{.Name}} package does not have a package declaration comment.
  See the <a href="https://go.dev/doc/comment">Go documentation guidelines</a>
  for information on how to write a package comment. It's important to write
  a good summary of the package in the first sentence of the package comment.
  {{config.BrandName}} indexes the first sentence and displays it in search results.
{{end}}
{{end}}
