{{define "head"}}
  <title>{{.Title}} versions - {{.ImportPath}} - {{config.BrandName}}</title>
  <meta name="robots" content="NOINDEX, NOFOLLOW">
{{- end}}

{{define "body"}}
  {{- template "ProjectNav" .}}
  <h2>Versions of {{.Title}}</h2>
  <ul>
    {{- range .Versions}}
    <li><a href="/{{$.ImportPath}}{{if ne . $.LatestVersion}}@{{.}}{{end}}{{query}}">{{.}}</a> {{if eq . $.LatestVersion}} (latest){{end}}</li>
    {{- end}}
  </ul>
  {{- if ne .ImportPath .ModulePath}}
  <p>
    <strong>Note</strong>: this list may be incomplete.
    <a href="{{view $.ModulePath "versions"}}">View all versions of this module.</a>
  </p>
  {{- end}}
{{- end}}
